*{
	margin: 0;
	padding: 0;
	font-family: Century Gothic;

}
header{
	background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(desert2.jpg);
	height: 100vh;
	background-size: cover;
	background-position: center;

}
ul{
	float: right;
	list-style: none;
	list-style-type: none;
	margin-top: 25px;
}
ul li{
	display: inline-block;
}
ul li a{
	text-decoration: none;
	color: #fff;
	padding:5px 20px;
	border: 1px solid transparent;
	transition: 0.6s ease;
}

ul li a:hover{
	background-color: #fff;
	color: #000;
}
ul li.active a{
	background-color: #fff;
	color: #000;
}
.main{
	max-width: 1200px;
	margin: auto;
}
.title{
	position: absolute;
	top: 30%;
	left: 50%;
	transform: translate(-50%,-50%);
}
.title h1{
	color: #fff;
	font-size: 70px; 
}

.form-box{
	width:380px;
	height:480px;
	position:relative;
	margin: 6% auto;
	background: #fff;
	padding: 5px;
}
.button-box{
	width:220px;
	margin: 35px auto;
	position: relative;
	box-shadow:0 0 20px 9px #ff61241f;
}
